
.survey ul {
    list-style-type: none;
    padding-left: 0px;
 }
 
 .survey ul span {
    z-index: -1;
 }
 
 .survey {
    padding: 30px 0;
    width: 40%;
    text-align: left;
    margin: auto;
 }
 
 .survey .question {
    font-size: 20px;
    font-weight: 600;
 }
 
 .exit {
    font-family: 'Roboto', sans-serif;
 }
 
 .survey .submit {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: auto;
    cursor: pointer;
 }

 .survey .ty {
    text-align: center;
    font-size: 25px;
 }